global:
  scrape_interval:     60s
  evaluation_interval: 60s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['192.168.21.120:9090']
        labels:
          instance: prometheus

  - job_name: linux
    static_configs:
      - targets: ['192.168.21.120:9100']
        labels:
          instance: localhost

  - job_name: boot-prometheus
    static_configs:
      - targets: ['192.168.0.105:8080']
        labels:
          instance: boot-prometheus